ion-content {
    --background: #ffff00; 
  }
  
  .content-background {
    --background: #ffff00; 
  }
  
  .esquina-icono {
    display: block;
    margin: 0 auto;
    width: 300px; 
    height: auto; 
  }
  
  ion-list {
    margin-top: 20px; 
  }
  
  ion-item {
    margin-bottom: 10px; 
  }
  
  ion-button {
    margin-top: 20px; 
  }
  
  .button-container {
    margin-top: 20px; 
  }