
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    background-color: #0033cc; 
  }
  
  
  ion-list {
    width: 100%; 
  }
  
  
  ion-item {
    margin-bottom: 20px; 
    --background: transparent; 
  }
  
 
  ion-input {
    background-color: transparent; 
    color: #000000; 
    --padding-start: 0; 
    --padding-end: 0;
  }
  
  
  ion-label {
    color: #000000; 
  }
  
  
  ion-icon {
    color: #000000; 
    font-size: 24px; 
    --padding-start: 0; 
    --padding-end: 0; 
  }
  
  
  ion-button {
    background-color: #ffff00; 
    color: #000000; 
    margin-top: 20px; 
    --highlight-background: #ffff00; 
    --border-radius: 8px; 
  }
  
  ion-button::part(native) {
    background-color: #ffff00; 
    color: #000000; 
  }