<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center;">
    <ion-title>Ingreso de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <img src="../../../assets/img/duocuc.png" class="esquina-icono" alt="Icono Duocuc">

  <div class="formulario">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email usuario</ion-label>
        <ion-input [(ngModel)]="usuario" type="email" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="contrasena" type="password" placeholder=""></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="full" (click)="validar()">Ingresar</ion-button>
  </div>
</ion-content>