<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Código Generado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    
    <div class="imagen-container">
      <img src="../../../assets/img/duocuc.png" alt="Icono Duocuc">
    </div>

    <div class="duoccodigo">
      <img src="../../../assets/img/duoccodigo.jpg" alt="Código QR">
    </div>
    <div class="imagen">
      <h2 class="titulo-codigo">Código Listo</h2>
    </div>
    <br>
    <br>
    <br>
    <ion-button expand="full" (click)="aceptar()">Aceptar</ion-button>
  </div>
</ion-content>