ion-content {
  --background: #ffff00; /* Fondo amarillo */
}

.content-background {
  --background: #ffff00; /* Fondo amarillo */
}

.esquina-imagen {
  display: block;
  margin: 0 auto;
  width: 300px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantiene la relación de aspecto original */
}

.content-container {
  /* Puedes añadir estilos aquí para personalizar el contenedor */
  text-align: center; /* Opcional, centrar contenido */
}

ion-footer {
  margin-top: 20px; /* Espacio encima del footer */
}

.listo-boton {
  --background: #007bff; /* Color de fondo del botón */
  --color: #fff; /* Color del texto del botón */
  --border-color: transparent; /* Elimina el borde del botón */
  --border-width: 0; /* Elimina el ancho del borde del botón */
}

.listo-boton:hover {
  --background: #0056b3; /* Color de fondo del botón en hover */
}