ion-content {
  --background: #ffff00; /* Fondo amarillo */
}

.content-background {
  --background: #ffff00; /* Fondo amarillo */
}

.botones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.accion-boton {
  --background: #007bff;
  --color: #fff;
  margin: 10px;
}

.accion-boton:hover {
  --background: #0056b3;
}

.esquina-icono {
  display: block;
  margin: 0 auto;
  width: 300px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantiene la relación de aspecto original */
}